<form novalidate
      [formGroup]="createProjectForm">
    <div class="row p-t-20">
        <div class="col-md-8">
            <div class="form-group"
                 [ngClass]="{
        'has-danger': project.invalid && (project.dirty || project.touched),
        'has-success': project.valid && (project.dirty || project.touched)}">
                <label class="control-label">Project School</label>
                <input type="text"
                       id="project"
                       placeholder="project" class="form-control"
                       formControlName="project"
                       required>
                <div class="form-control-feedback"
                     *ngIf="project.errors && (project.dirty || project.touched)">
                    <p *ngIf="project.errors.required">project is required</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group"
                 [ngClass]="{
        'has-danger': description.invalid && (description.dirty || description.touched),
        'has-success': description.valid && (description.dirty || description.touched)}">
                <!--<input type="text"-->
                <!--id="description"-->
                <!--placeholder="description"-->
                <!--formControlName="description"-->
                <!--required>-->
                <label class="control-label">Description</label>
                <textarea rows="4" cols="50" id="description"
                          placeholder="description" class="form-control"
                          formControlName="description"
                          required>
            </textarea>

                <div class="form-control-feedback"
                     *ngIf="description.errors && (description.dirty || description.touched)">
                    <p *ngIf="description.errors.required">description is required</p>
                    <p *ngIf="description.errors.pattern">The description must contain at least the @ character</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group"
                 [ngClass]="{
        'has-danger': symbol.invalid && (symbol.dirty || symbol.touched),
        'has-success': symbol.valid && (symbol.dirty || symbol.touched)}">
                <label class="control-label">Symbol</label>
                <input type="text"
                       id="login"
                       class="form-control"
                       placeholder="symbol"
                       formControlName="symbol"
                       required>
                <div class="form-control-feedback"
                     *ngIf="symbol.errors && (symbol.dirty || symbol.touched)">
                    <p *ngIf="symbol.errors.required">symbol is required</p>
                    <!--<p *ngIf="symbol.errors.pattern">The symbol address must contain at least the @ character</p>-->
                </div>
            </div>
        </div>
    </div>
    <div class="row p-t-20">
        <div class="col-md-6">
            <div class="form-group "
                 [ngClass]=" {
        'has-danger': profile.invalid && (profile.dirty || profile.touched),
        'has-success': profile.valid && (profile.dirty || profile.touched) }">
                <label class="control-label">Assign Users</label>
                <select multiple="multiple" class="form-control" name="profile" id="profile"
                        formControlName="profile">
                    <option (mousedown)="onMouseDown($event, item)" (mousemove)="$event.preventDefault()"
                            *ngFor="let item of usersListData; let i = index"
                            [value]="item.id">{{item.firstName}}
                    </option>
                </select>
                <!--<input type="profile"-->
                <!--name="profile"-->
                <!--id="profile"-->
                <!--placeholder="profile"-->
                <!--formControlName="profile"-->
                <!--required>-->
                <div class="form-control-feedback"
                     *ngIf="profile.errors && (profile.dirty || profile.touched)">
                    <p *ngIf="profile.errors.required">AssignUsers is required</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group"
                 [ngClass]=" {
        'has-danger': formsubmitted.invalid && (formsubmitted.dirty || formsubmitted.touched),
        'has-success': formsubmitted.valid && (formsubmitted.dirty || formsubmitted.touched) }">
                <label class="control-label">Forms</label>
                <input type="text"
                       name="formsubmitted" class="form-control"
                       id="formsubmitted"
                       placeholder="formsubmitted"
                       formControlName="formsubmitted"
                       required>
                <div class="form-control-feedback"
                     *ngIf="formsubmitted.errors && (formsubmitted.dirty || formsubmitted.touched)">
                    <p *ngIf="formsubmitted.errors.required">Forms is required</p>
                </div>
            </div>
        </div>
    </div>
</form>