<div class="sidebar">
    <ul>

        <li>
            <a class="nav-item nav-link linkCenter"
               routerLink="/project">
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <br>
                <span>Project</span>
            </a>
        </li>
        <li>
            <a class="nav-item nav-link linkCenter"
               routerLink="/project">
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <br>
                <span>About</span>
            </a>
        </li>
        <li>
            <a class="nav-item nav-link linkCenter"
               routerLink="/about">
                <i class="fa fa-folder-o" aria-hidden="true"></i>
                <br>
                <span>About</span>
            </a>
        </li>
    </ul>
</div>

